body {
  background-color: #282c34;
  color: white;
  box-sizing: border-box;
}
.App {
  width: 100vw;
  height: 100vh;
  text-align: center;  
}

.reset {
  font-size: .7rem;
  position:absolute;
  top: 2vh;
  right: 2vw;
  width:4rem;
  color: #f92f60;
  background-color: rgba(60,60,60,.8);
  border: 1px solid rgba(255,255,255,.4);
  font-weight: 900;
  box-shadow: 0 1px 6px rgba(255, 255, 255, 0.12), 0 1px 4px rgba(255, 255, 255, 0.24);
}

#board {
  margin: auto;
  min-width: 150px;
  min-height:150px;
  max-width:60vh;
  max-height:60vh;
  width:60vw;
  height:60vw;
  display:flex;
  flex-flow: column nowrap;
  align-items: center;
  background-color: #282c34;  
}

.row {
  display:flex;
  width:100%;
}

.cell {
  display:flex;
  justify-content:center;
  align-items:center;
  max-width:20vh;
  max-height:20vh;
  width:20vw;
  height:20vw;
  background-color: rgb(30,30,80);
  border: .3vw solid navy;
  font-size: 10vh;
  transition: background-color 1s ease-out
}
.cell:hover {
  background-color:white;
}

.left {
  border-left: none;
}

.right {
  border-right: none;
}

.bottom {
  border-bottom: none;
}

.top {
  border-top: none;
}

