body {
  background-color: #282c34;
  color: white;
  box-sizing: border-box;
}
.App {
  width: 100vw;
  height: 100vh;
  text-align: center;  
}

#board {
  margin: auto;
  min-width: 150px;
  min-height:150px;
  max-width:60vh;
  max-height:60vh;
  width:60vw;
  height:60vw;
  display:flex;
  flex-flow: column nowrap;
  align-items: center;
  background-color: #282c34;  
}

.row {
  display:flex;
  width:100%;
}

.cell {
  display:flex;
  justify-content:center;
  align-items:center;
  max-width:20vh;
  max-height:20vh;
  width:20vw;
  height:20vw;
  background-color: lightblue;
  border: .3vw solid navy;
  font-size: 10vh;
  transition: background-color 1s ease-out
}
.cell:hover {
  background-color:purple;
}

.left {
  border-left: none;
}

.right {
  border-right: none;
}

.bottom {
  border-bottom: none;
}

.top {
  border-top: none;
}

